<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalMessageTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title font-weight-normal" id="exampleModalLabel">Agregar Producto</h6>


                <button type="button" class="btn btn-outline-danger btn-tooltip btn-sm" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Cerrar" data-container="body" data-animation="true"
                    data-bs-dismiss="modal" aria-label="Close">
                    <span class="material-icons">cancel</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group input-group-outline my-3">
                        <label class="form-label">Recipient</label>
                        <input type="email" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn bg-gradient-primary">Send message</button>
            </div>
        </div>
    </div>
</div>