<div class="modal-content">
    <div class="modal-header">
        <h6 class="modal-title font-weight-normal"  *ngIf="verProducto == undefined">Agregar Producto</h6>
        <h6 class="modal-title font-weight-normal" *ngIf="verProducto != undefined">Detalle Producto</h6>
    </div>
    <form role="form" class="text-start" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md">
                    <div class="card bg-dark text-white border-0">
                        <img class="card-img" *ngIf="urlImage" [src]="urlImage">
                        <img class="card-img" *ngIf="!urlImage" src="./../../../assets/img/no-image.jpeg">
                    </div>
                    <div class="input-group input-group-outline my-1">
                        <input #fileInput type="file" hidden (change)="onChange($event)" accept="image/*"> 
                    </div>
                    <button type="button" 
                        *ngIf="this.verProducto == undefined"
                        class="btn btn-outline-secondary" 
                        (click)="fileInput.click()">
                        <i class="fas fa-image fa-lg"></i> Seleccionar Archivo
                    </button>
                    {{(fileProductImage != null) ? fileProductImage.name : ''}}
                </div>
                <div class="col-md">
                    <div [ngClass]="registerForm.controls['nombre'].invalid && isSubmited ? 
                        'input-group input-group-outline my-3 is-invalid' : 
                        'input-group input-group-outline my-3'"
                        [ngClass]="verProducto != undefined ? 
                        'input-group input-group-outline my-3 is-filled' : 
                        'input-group input-group-outline my-3'">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre"
                            (focus)="onFocusInput($event)" 
                            (focusout)="onFocusOutInput($event, 'nombre')">
                        <div class="input-group invalid-field"
                            *ngIf="registerForm.controls['nombre'].invalid && isSubmited">
                            {{errorMessages.nombre}}
                        </div>
                    </div>
                    <div [ngClass]="registerForm.controls['descripcion'].invalid && isSubmited ? 
                        'input-group input-group-outline my-3 is-invalid' : 
                        'input-group input-group-outline my-3'"
                        [ngClass]="verProducto != undefined ? 
                        'input-group input-group-outline my-3 is-filled' : 
                        'input-group input-group-outline my-3'">
                        <label class="form-label">Descripción</label>
                        <input type="text" class="form-control" formControlName="descripcion"
                            (focus)="onFocusInput($event)" (focusout)="onFocusOutInput($event, 'descripcion')">
                        <div class="input-group invalid-field"
                            *ngIf="registerForm.controls['descripcion'].invalid && isSubmited">
                            {{errorMessages.descripcion}}
                        </div>
                    </div>
                    <div [ngClass]="registerForm.controls['tipo'].invalid && isSubmited ? 
                        'input-group input-group-outline my-3 is-invalid' : 
                        'input-group input-group-outline my-3'"
                        [ngClass]="verProducto != undefined ? 
                        'input-group input-group-outline my-3 is-filled' : 
                        'input-group input-group-outline my-3'">
                        <label class="form-label">Tipo</label>
                        <input type="text" class="form-control" formControlName="tipo"
                            (focus)="onFocusInput($event)" (focusout)="onFocusOutInput($event, 'tipo')">
                        <div class="input-group invalid-field"
                            *ngIf="registerForm.controls['tipo'].invalid && isSubmited">
                            {{errorMessages.tipo}}
                        </div>
                    </div>
                    <div [ngClass]="registerForm.controls['precio'].invalid && isSubmited ? 
                        'input-group input-group-outline my-3 is-invalid' : 
                        'input-group input-group-outline my-3'"
                        [ngClass]="verProducto != undefined ? 
                        'input-group input-group-outline my-3 is-filled' : 
                        'input-group input-group-outline my-3'">
                        <label class="form-label">Precio</label>
                        <input type="number" class="form-control" formControlName="precio" min="0"
                            (focus)="onFocusInput($event)" (focusout)="onFocusOutInput($event, 'precio')">
                        <div class="input-group invalid-field"
                            *ngIf="registerForm.controls['precio'].invalid && isSubmited">
                            {{errorMessages.precio}}
                        </div>
                    </div>
                    <div [ngClass]="registerForm.controls['stock'].invalid && isSubmited ? 
                        'input-group input-group-outline my-3 is-invalid' : 
                        'input-group input-group-outline my-3'"
                        [ngClass]="verProducto != undefined ? 
                        'input-group input-group-outline my-3 is-filled' : 
                        'input-group input-group-outline my-3'">
                        <label class="form-label">Stock</label>
                        <input type="number" class="form-control" formControlName="stock" min="0"
                            (focus)="onFocusInput($event)" (focusout)="onFocusOutInput($event, 'stock')">
                        <div class="input-group invalid-field"
                            *ngIf="registerForm.controls['stock'].invalid && isSubmited">
                            {{errorMessages.stock}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" 
                        (click)="cerrarModal()"
                        *ngIf="verProducto == undefined">
                        Cancelar
                    </button>
                    <button type="submit" class="btn bg-gradient-primary"
                        *ngIf="verProducto == undefined">
                        Registrar
                    </button>
                    <button type="button" class="btn bg-gradient-success"
                        *ngIf="verProducto != undefined"
                        (click)="cerrarModal()">
                        Regregar
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>