<div class="row">
    <div class="col-lg-8 mt-lg-0 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="font-weight-bolder">Dirección del Cliente</h5>
            <div class="row mt-4">
              <div class="col-12 col-sm-6">
                <div class="input-group input-group-dynamic">
                  <label for="exampleDataList" class="form-label">DNI del Cliente</label>
                  <input class="form-control" list="datalistOptions" id="exampleDataList">
                  <datalist id="datalistOptions">
                    <option value="78754653">
                    <option value="78754651">
                    <option value="78754633">
                    <option value="78754633">
                    <option value="78714633">
                  </datalist>
                </div>
              </div>
              <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Celular</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-3">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Nombres</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
              <div class="col-3">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Apellidos</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
              <div class="col-3">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Teléfono</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-3">
                <div class="input-group input-group-dynamic">
                  <label for="exampleDataList" class="form-label">Departamento</label>
                  <input class="form-control" list="datalistDepartamentos" id="departamentoInput">
                  <datalist id="datalistDepartamentos">
                    <option value="78754653">
                    <option value="78754651">
                    <option value="78754633">
                    <option value="78754633">
                    <option value="78714633">
                  </datalist>
                </div>
              </div>
              <div class="col-3">
                <div class="input-group input-group-dynamic">
                  <label for="exampleDataList" class="form-label">Provincia</label>
                  <input class="form-control" list="datalistProvincias" id="provinciaInput">
                  <datalist id="datalistProvincias">
                    <option value="78754653">
                    <option value="78754651">
                    <option value="78754633">
                    <option value="78754633">
                    <option value="78714633">
                  </datalist>
                </div>
              </div>
              <div class="col-3">
                <div class="input-group input-group-dynamic">
                  <label for="exampleDataList" class="form-label">Distrito</label>
                  <input class="form-control" list="datalistDistritos" id="distritoInput">
                  <datalist id="datalistDistritos">
                    <option value="78754653">
                    <option value="78754651">
                    <option value="78754633">
                    <option value="78754633">
                    <option value="78714633">
                  </datalist>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="input-group input-group-dynamic">
                  <label for="exampleDataList" class="form-label">Tipo Dirección</label>
                  <input class="form-control" list="datalistTipoDireccion" id="tipoDireccionInput">
                  <datalist id="datalistTipoDireccion">
                    <option value="Avenida">
                    <option value="Urbanización">
                  </datalist>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Dirección</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Nro/Lote</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Depto</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-6">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Urbanización</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-dynamic">
                  <label class="form-label">Referencia</label>
                  <input type="email" class="form-control w-100" onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h6 class="mb-0">Facturas</h6>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-outline-primary btn-sm mb-0">Ver </button>
                    </div>
                </div>
            </div>
            <div class="card-body p-3 pb-0">
                <ul class="list-group">
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="mb-1 text-dark font-weight-bold text-sm">March, 01, 2020</h6>
                            <span class="text-xs">#MS-415646</span>
                        </div>
                        <div class="d-flex align-items-center text-sm">
                            $180
                            <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                    class="material-icons text-lg position-relative me-1">picture_as_pdf</i>
                                PDF</button>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="text-dark mb-1 font-weight-bold text-sm">February, 10, 2021</h6>
                            <span class="text-xs">#RV-126749</span>
                        </div>
                        <div class="d-flex align-items-center text-sm">
                            $250
                            <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                    class="material-icons text-lg position-relative me-1">picture_as_pdf</i>
                                PDF</button>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="text-dark mb-1 font-weight-bold text-sm">April, 05, 2020</h6>
                            <span class="text-xs">#FB-212562</span>
                        </div>
                        <div class="d-flex align-items-center text-sm">
                            $560
                            <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                    class="material-icons text-lg position-relative me-1">picture_as_pdf</i>
                                PDF</button>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="text-dark mb-1 font-weight-bold text-sm">June, 25, 2019</h6>
                            <span class="text-xs">#QW-103578</span>
                        </div>
                        <div class="d-flex align-items-center text-sm">
                            $120
                            <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                    class="material-icons text-lg position-relative me-1">picture_as_pdf</i>
                                PDF</button>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="text-dark mb-1 font-weight-bold text-sm">March, 01, 2019</h6>
                            <span class="text-xs">#AR-803481</span>
                        </div>
                        <div class="d-flex align-items-center text-sm">
                            $300
                            <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                    class="material-icons text-lg position-relative me-1">picture_as_pdf</i>
                                PDF</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>