<div class="row mb-4 animate__animated animate__fadeIn">
    <div class="col-lg-7 col-md-6 mb-md-0 mb-4">
        <div class="card">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-lg-6 col-7">
                        <h6>Lista de Pedidos</h6>
                    </div>
                </div>
            </div>
            <div class="card">
            <div class="table-responsive">
                <table class="table align-items-center mb-0" *ngIf="isFacturasEnProgresoLoaded">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hora de Pedido</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let factura of facturasEnProgreso; index as i">
                            <tr class="animate__animated animate__slideInRight"> 
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-xs"> {{factura.clienteData.nombres}} {{factura.clienteData.apellidos}} </h6>
                                        <p class="text-xs text-secondary mb-0"> {{factura.clienteData.correo}} </p>
                                    </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge bg-gradient-info"> {{factura.facturaData.estado}} </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-normal"> {{getHours(factura.facturaData.fechaEmision)}}:{{getMinutes(factura.facturaData.fechaEmision)}} </span>
                                </td>
                                <td class="align-middle">
                                    <button type="button" class="btn btn-icon btn-secondary btn-tooltip btn-sm mr-5"
                                        data-bs-toggle="collapse" 
                                        [attr.data-bs-target]="'#collapseExample' + i" 
                                        [attr.aria-expanded]="factura.ariaExpanded" 
                                        aria-controls="collapseExample"
                                        (click)="abrirCerrarCollapse(i)">
                                        <i class="material-icons md-16">visibility</i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-success btn-tooltip btn-sm mr-5"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Pedido Listo"
                                        data-container="body" data-animation="true">
                                        <i class="material-icons md-16">check</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="collapse" [attr.id]="'collapseExample' + i">
                                        <app-collapse-pedidos 
                                            *ngIf="factura.ariaExpanded"
                                            [idFactura]="factura.facturaData.id" 
                                            [ariaExpanded]="factura.ariaExpanded!"
                                            >
                                        </app-collapse-pedidos>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                        
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6">
        <div class="card h-60">
            <div class="card-header pb-0">
                <h6>Lista de Espera</h6>
            </div>
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0" *ngIf="facturasEnEspera.length > 0">
                        <thead>
                            <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hora Pedido</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>     
                            <tr *ngFor="let factura of facturasEnEspera">
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-xs"> {{factura.clienteData.nombres}} {{factura.clienteData.apellidos}}  </h6>
                                        <p class="text-xs text-secondary mb-0"> {{factura.clienteData.correo}} </p>
                                    </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0"> {{getHours(factura.facturaData.fechaEmision)}}:{{getMinutes(factura.facturaData.fechaEmision)}}</p>
                                    <p class="text-xs text-secondary mb-0">
                                        <span class="badge bg-gradient-warning"> {{factura.facturaData.estado}} </span>
                                    </p>
                                </td>
                                <td class="align-middle">
                                    <button type="button" class="btn btn-icon btn-danger btn-tooltip btn-sm mr-5"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Atender Pedido"
                                        data-container="body" data-animation="true"
                                        (click)="cambiarEstado(factura.facturaData)">
                                        <i class="material-icons md-16">keyboard_double_arrow_left</i>
                                    </button>
                                </td>
                            </tr>                        
                        </tbody>
                    </table>
                    <div class="text-center mb-4" *ngIf="facturasEnEspera.length === 0">
                        <h6 class="text-secondary text-xs font-weight-bold mb-0">No hay pedidos en espera</h6>
                    </div>
                    
                </div>
                </div>
        </div>
    </div>
</div>